<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- <meta charset="UTF-8"> --}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
   {{>links}}
</head>
{{>style}}
<body>

 {{!-- navbar and header --}}

 {{>header}}
    
    {{!-- main content --}}

    <div class="main_content">
        <div class="content">
            <h3>welcome to weather forcast</h3>
            <h1 class="header"> get real and current <span>weather</span> report here </h1>
            <a href="/weather"> <button class="btn">check now</button></a>
        </div>
        <img src="https://source.unsplash.com/600x300/?dark,dark forest" alt="wait a while" class="img">
    </div>

    {{!-- footer part --}}
    
    {{>foot}}

   
</body>
</html>
